// Sections
.uf-section {
	box-sizing: border-box;
	width: 100%;
	padding: 15px;
	background: #fff;
	position: relative;
	z-index: 1;

	&.first-col {
		border-left: 0;
	}

	&.top-row {
		border-top: 0;
	}

	.uf-fields-layout-grid > & {
		border-top: 1px solid #ddd;

		&.top-row {
			margin-top: -1px;
		}
	}

	.uf-fields-layout-rows > & {
		border-bottom: 1px solid #eee;
	}

	h4 {
		margin: 5px 0;
		font-weight: bold;
		font-size: 15px;

		.dashicons,
		.fa {
			margin-right: 5px;
		}
	}

	p {
		margin: .3em 0 .5em;
		font-size: 13px;
	}

	&-blue,
	&-red,
	&-green {
		color: #fff;
	}

	&-blue {
		background: #0073AF;
	}

	&-red {
		background: #e14d43;
	}

	&-green {
		background: #a3b745;
	}
}
