/**
 * Fields
 */

 .uf-fields {
 	width: 100%;
 }

// Basic fields
.uf-field {
	position: relative;
	z-index: 1;

	&__details {
		label {
			display: block;
			font-weight: bold;
		}

		&-unclickable {
			cursor: default;
		}
	}

	&__required {
		color: $required;
		font-weight: bold;
		display: inline-block;
		margin-left: 3px;
	}

	&__inputs {
	}

	&__input {
		position: relative;
		z-index: 2;
	}

	&__description {
		font-style: italic;
		opacity: .75;
		padding-top: 4px;

		p {
			margin: 0;
			font-size: inherit;
			line-height: inherit;
		}

		p + p {
			margin-top: 1em;
		}

		.uf-field-type-message & {
			padding-top: 0;
		}
	}

	&__details &__description {
		font-style: normal;
		font-size: 12px;
		line-height: 1.3em;
	}

	// Field validation messages
	&__message {
		color: #fff;
		font-weight: bold;
		background: $required;
		padding: 3px 7px;
		font-weight: normal;
		border-radius: 2px;
		position: relative;
		z-index: 1;
		display: inline-block;
		// display: none;
		// opacity: 0;
		// transition: all .4s ease;
		// margin-top: -24px;

		// @todo: Animate again
		// &-shown {
		// 	display: inline-block;
		// }
		//
		// &-visible {
		// 	opacity: 1;
			margin-top: 15px;
		// }

		&:before {
			content: '';
			position: absolute;
			top: -7px;
			left: 10px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 7.5px 7px 7.5px;
			border-color: transparent transparent $required transparent;
		}

		p {
			margin: 0;
			font-size: .9em;
			color: #fff;
		}
	}

	&-invalid > &-label {
		color: $required;
	}

	textarea,
	input[type='text'],
	input[type='password'] {
		display: block;
		width: 100%;
	}

	/**
	 * Rows
	 */
	&--rows {
		position: relative;
		display: flex;
		width: 100% !important;
	}

	&--rows &__details,
	&--rows &__inputs {
		box-sizing: border-box;
		padding: 15px 12px;
		position: relative;
		z-index: 1;
	}

	&--rows > &__details {
		flex: 0 0 250px;

		label {
			display: block;
			font-weight: bold;
		}
	}

	&--rows > &__inputs {
		// flex: 0 0 80%;
		// width: 80%;
		flex-grow: 1;
	}

	/**
	 * Boxed && Rows
	 */
	&s--boxed.uf-fields--rows {
		&:before {
			content: '';
			position: absolute;
			z-index: 0;
			left: 0;
			top: 0;
			bottom: 0;
			width: 250px;
			background: #fafafa;
			border-right: 1px solid #ddd;
		}
    }

	.uf-fields--boxed > &--rows {
		border-bottom: 1px solid #eee;
	}

	.uf-fields--boxed &--rows > &__inputs {
		border-left: 1px solid #ddd;
	}

	/**
	 * Grid
	 */
	&--grid {
		flex-grow: 1;
		padding: 10px 15px;
		box-sizing: border-box;
		width: 100%;
		min-width: 150px;
		max-width: 100%;

	}

    &--rows &--grid {
        // @todo
        padding: 0;
    }

	&--grid &__details {
		padding-bottom: 6px;
	}

	/**
	 * Boxed && Grid
	 */
 	.uf-fields--boxed &--grid {
 		background: #fff;
 		border-left: 1px solid #ddd;
 		border-top: 1px solid #ddd;
	}

	.uf-fields--boxed &--grid.first-col {
		border-left: 0;
	}

	.uf-fields--boxed &--grid.top-row {
		border-top: 0;
	}

	.uf-fields--boxed &--grid + .uf-tab-wrapper {
		border-top: 1px solid #ddd;
		margin-bottom: -1px;
 	}


	// Fields without labels
	.uf-fields--boxed &--no-label > .uf-field__inputs {
		border-left: 0;
	}

	.uf-fields--rows &--no-label:before {
		display: none;
	}
}

// Inline fields
.uf-fields--grid {
	display: flex;
	flex-wrap: wrap;
}


// Fixed-width label containers
.uf-fields-label-200 {
	> .uf-field-layout-row {
		> .uf-field-label {
			flex: 0 0 210px;
			padding-left: 0;
		}

		> .uf-field-input-wrap {
			flex: 0 0 calc(100% - 210px);
		}

		&:before {
			width: 210px;
		}
	}
}

.uf-fields-label-200.uf-fields--boxed {
	> .uf-field-layout-row {
		> .uf-field-label {
			padding-left: 12px;
		}
	}
}

.uf-fields-label-250 {
	> .uf-field-layout-row {
		// padding-left: 250px;

		&:before {
			width: 250px;
		}

		> .uf-field-label {
			// float: left;
			// margin-left: -250px;
			// width: 250px;
			flex: 0 0 250px;
		}

		> .uf-field-input-wrap {
			flex: 0 0 calc(100% - 250px);
		}
	}

	&.uf-fields-layout-rows > .uf-tab-wrapper > .uf-tab:first-child {
		margin-left: 250px;
	}
}
