// Tabs
.uf-tabs {
	border-bottom: 1px solid #ccc;
	font-size: 0;
	width: 100%;
	position: relative;
	z-index: 2;
	margin-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;

	&--inline {
		display: none;
	}
}

.uf-tab {
	display: inline-block;
	background: #f0f0f0;
	font-size: 11px;
	font-weight: bold;
	line-height: 34px;
	text-decoration: none;
	vertical-align: top;
	padding: 0 10px;
	border: 1px solid #ccc;
	margin-bottom: -1px;
	margin-right: 6px;
	margin-top: 3px;
	color: #444;

	&:focus {
		box-shadow: none;
	}

	&:hover {
		color: #222;
	}

	&--active {
		color: #000;
		background: none;
		border-bottom-color: #f1f1f1;
	}

	&--hidden {
		display: none;
	}

	&--invalid {
		background: $required;
		color: #fff;
	}

	&--invalid.uf-tab--active {
		background: inherit;
		color: $required;
	}

	&__text,
	&__icon {
		display: inline-block;
		vertical-align: middle;
	}

	&__icon {
		margin-right: 5px;
	}
}

// Boxed tabs
.uf-tabs--boxed {
	background: #eee;
	border-bottom-color: #ddd;
	margin-bottom: 0;;
}

.uf-tab--boxed {
	border-color: #ddd;

	&:hover {
		background: #fff;
	}
}

// Boxed and rows
.uf-tabs--boxed.uf-tabs--rows {
	padding-left: 20%;
}

.uf-tab--boxed.uf-tab--active {
	background: #fff;
	border-bottom-color: #fff;
}

// Disabled state (must overwrite others)
.uf-tab--disabled {
	&, &:hover, &:focus {
		color: #bbb;
		background: #f9f9f9;
		cursor: default;
	}
}

.uf-inline-tab {
	background: #fafafa;
	border-top: 1px solid #ddd;
	justify-content: space-between;
	align-items: center;
	padding: 10px 15px;
	width: 100%;
	display: none;

	&.top-row {
		border-top: none;
	}

	.uf-fields-inline-tabs & {
		display: flex;
	}

	h3 {
		margin: 0;
	}

	&-toggle {

	}

	&-disabled,
	.uf-fields-inline-tabs &-disabled {
		display: none;
	}
}
